* {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calculator {
  height: 350px;
  width: 200px;
  background-color: black;
  font-size: 24px;

  display: flex;
  flex-direction: column;
}

#display {
  height: 100px;
  width: 200px;
  color: white;
  font-weight: 900;
  text-align: right;
}

#keypad {
  height: 250px;
  width: 200px;

  display: flex;
  flex-wrap: wrap;
}

.keypad-btn {
  height: 50px;
  aspect-ratio: 1/1;

  flex: 1;
}
