* {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  height: fit-content;
  width: fit-content;
  border: 8px solid black;

  display: flex;
  flex-direction: column;
}

#display {
  width: 320px;
  padding: 8px 0;
  background-color: black;
  color: white;
  font-size: 48px;
  font-weight: 900;
  text-align: right;
}

#keypad {
  height: 400px;
  width: 320px;

  display: flex;
  flex-wrap: wrap;
}

.keypad-btn {
  flex: 1;
  height: 80px;
  aspect-ratio: 1 / 1;
  border-radius: 0;
  border: none;
  font-size: 32px;
}

.keypad-btn:hover {
  border: 1px solid black;
}

.all-clear {
  background-color: tomato;
  font-weight: 600;
}

.undo {
  background-color: chocolate;
}

.operator {
  background-color: burlywood;
}

.operand {
  background-color: blanchedalmond;
}

.equal {
  background-color: yellowgreen;
  font-weight: 900;
}
